SECRET=MIICWgIBAAKBgFYyGvSMT85TT4zXDdLUcUSaHrxqLbtS5AP9RWu+G0znBTJ43UHPKYw5ZR+00SpEYk/MXlO/ykli0UsO+q8455F2cKIoxLFyVnJ1xRoAm+ijBfTWsYObP4RQcJvD9WNcYnF8bcI9YfLi6dnoGTmunZIxSX4mxw+ike2tx87bAVOBAgMBAAECgYAryfyjq/yHJw/Mzxv4tXBtl5ZxxcdB2RR5aluwJr4bzWl4gKp22lWTJT1YZDW2sVL4kyyAg3iy237UEOINzmzlg6Lkfd73e0K4cj4A13yKYRCU1te2DOwCGyy120cFa75xK/hsppDmqwZ5/JMzWJghTkDQ5SIyceu165mZKiR7oQJBAKLT0KeTaZyQYdgr8ZBEsqqmoHp/hmJqTvKxlJUwMPkKV3uR43TkDce0JMvteFmb1ompeb865WXofUle4XRX+LUCQQCHhLRXgarKq0s23mmtRgzCgr8DEx5Lp74lTVhJgZLhSs7NEYEjVXywciazSGfBhNz93WHvTCI1auW3p81+TOsdAkBf6Dd8nR2V9I1NUQTmHzDFx4O646Z6DXgXB3YnMc2GwwqoZFP/o9xiBr+txmAfF+WUDFkDxGMeVYSGVPajGrYJAkBHHC5ZgJPzNwEHsJt5LbnCU0MRxPVvs3yGLFi4cYJ2L3/mgVnnBZOhLrT5/HNdS29+0qzyGVwV9ZrGzQl6TbhNAkBubVgwfub2JYfQT/TH9PMAJFIHAmXZ/9ut5VXrLADSm4mCL7r2JHmOv8eH98t7kauDuiWmMI3QXtjD5aQS+Gfy
MONGODB_URL="mongodb://localhost:27017/reprograma"
